
<header>
    <h5 class="subtitle">八代ワンストップ<span style="color:#ff0000">公園</span>
        サービス</h5>
    <h1 class="title">ワクワク パーク クエスト :&#9876;:</h1>
        <a href="/" class="btn btn--yellow btn--cubic">最初に戻る</a>
</header>
<body>
    <header>
        <h1 class="titel">公園の追加ページだよ！</h1>
    </header>

  <form action="/add" method="POST" enctype="multipart/form-data">
    <!-- <input type="text" name="id"> -->
    <p>公園の名前</p>
    <input type="text" name = "name">
    <p>公園の住所</p>
    <input type="text" name = "address">

    <p>画像追加</p>
    <input type="file" name="image">
    
    <p>特徴をコメントしてね！</p>
    <input type="text" name="comment" >
    <!-- <p>写真をUPしてね</p>
    <input type="file" name="image"  accept="image/*" required> -->
    <p>該当するものをチェックしてね </p>
        <label><input type="checkbox" name="parking" >駐車場が広い</label>
        <label><input type="checkbox" name="toilet" >多目的トイレがある</label>
        <label><input type="checkbox" name="playset" >遊具が多い</label>
        <label><input type="checkbox" name="convenience" >近くにコンビニがある</label>
        <label><input type="checkbox" name="history" >歴史がある</label>
        <label><input type="checkbox" name="vending">自動販売機がある</label>
        <label><input type="checkbox" name="plaza" >大きい広場がある</label>
        <label><input type="checkbox" name="water" >水場がある</label>
        <label><input type="checkbox" name="hot_spring">近くに温泉がある<label>
        <label><input type="checkbox" name="traffic">交通アクセスが良い </label>
    
    <p>追加・取り消しボタンだよ！</p>
    <input type="submit" value="追加＋" name="save">
    <input type="reset" value="取り消しする-">
  </form>


</body>


</html>
