<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>卒業制作a</title>
</head>
<body>
    <header>
        <p class="title">公園の追加</p>
    </header>

  <form action="/add" method="POST" enctype="multipart/form-data">
    <!-- <input type="text" name="id"> -->
    <input type="text" name = "name">
    <input type="text" name = "address">
    <p>特徴をコメントしてね！</p>
    <input type="text" name="comment" >
    <p>写真をUPしてね</p>
    <input type="file" name="image"  accept="image/*" required>
    <p>該当するものをチェックしてね </p>
        <label><input type="checkbox" name="parking" >駐車場が広い</label>
        <label><input type="checkbox" name="toilet" >多目的トイレがある</label>
        <label><input type="checkbox" name="playset" >遊具が多い</label>
        <label><input type="checkbox" name="convenience" >近くにコンビニがある</label>
        <label><input type="checkbox" name="history" >歴史がある</label>
        <label><input type="checkbox" name="vending">自動販売機がある</label>
        <label><input type="checkbox" name="plaza" >大きい広場がある</label>
        <label><input type="checkbox" name="water" >水場がある</label>
        <label><input type="checkbox" name="hot_spring">近くに温泉がある<label>
        <label><input type="checkbox" name="traffic">交通アクセスが良い </label>
    

    <input type="submit" value="追加＋" name="save">
    <input type="reset" value="取り消しする-">
  </form>


</body>


</html>
