
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1152, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/CSS/base.css" />
    <link rel="stylesheet" type="text/css" href="../static/CSS/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/CSS/globals.css" />
    <link rel="stylesheet" href="../static/CSS/style.css">
	<link rel="stylesheet" href="/卒業制作a/static/img/">

	<link rel="stylesheet" href="../static/CSS/style.css">
  </head>

  <body style="margin: 0; background: #553a27">
    <input type="hidden" id="anPageName" name="page" value="base" />
    <div class="container-center-horizontal">
      <div class="base screen">
        <div class="component-1">
          <div class="overlap-group">
            <h1 class="text-1-1 roboto-bold-candlelight-48px">
              <span class="roboto-bold-sun-48px">ワクワク パーク クエスト</span
              ><span class="roboto-bold-candlelight-48px">⚔</span>
            </h1>
            <div class="text-2 roboto-bold-red-18px">
              <span class="roboto-bold-romance-18px">八代市ワンストップ</span
              ><span class="roboto-bold-red-18px">公園</span><span class="roboto-bold-rose-white-18px">サービス</span>
            </div>
          </div>
        </div>
        <div class="overlap-group2">
          <div class="flex-col">
            <div class="overlap-group7">
              <a href="/detail/5" target="_self"><img class="star-1" src="../static/img/star-8-1@2x.png" /></a>
              <a href="/detail/7"><img class="star-5" src="../static/img/star-8-1@2x.png" /></a>
            </div>
            <a href="/detail/3"><img class="star-4" src="../static/img/star-8-1@2x.png" /></a>
          </div>
          <a href="/detail/6"><img class="star-8" src="../static/img/star-8-1@2x.png" /></a>
          <div class="flex-col-1">
            <a href="/detail/8"><img class="star" src="../static/img/star-8-1@2x.png" /></a>
            <a href="/detail/4"><img class="star-3" src="../static/img/star-8-1@2x.png" /></a>
            <a href="/detail/2"><img class="star-7" src="../static/img/star-8-1@2x.png" /></a>
          </div>
          <div class="flex-col-2">
            <a href="/detail/1"><img class="star" src="../static/img/star-8-1@2x.png" /></a>
            <img class="cool-gaming-play-1-1-1-1" src="../static/img/cool-gaming-play---1---1---1--1-1@2x.png" />
          </div>
        </div>
        <div class="flex-row">
          <a href="/torisetu"><div class="overlap-group5">
            <div class="rectangle-3-2"></div>
            <div class="text-3">
              <span>冒険の書<br /></span><span class="roboto-bold-candlelight-24px">（公園のトリセツ）</span>
            </div>
            <div class="text-8 roboto-bold-candlelight-48px"><span class="roboto-bold-candlelight-48px">📚</span></div>
            </div>
          </a>
          <a href="/list"><div class="overlap-group3">
            <div class="text-4 roboto-bold-candlelight-24px">
              <span class="span0">ステージを調べる<br /></span
              ><span class="roboto-bold-romance-24px"> （公園条件検索）</span>
            </div>
            <div class="text-6 roboto-bold-candlelight-48px"><span class="roboto-bold-candlelight-48px">🔍</span></div>
            </div>
          </a>
          <a href="/quest"><div class="overlap-group6">
            <div class="text-5 roboto-bold-candlelight-24px">
              <span class="span0-1">クエストボード<br /></span
              ><span class="roboto-bold-candlelight-24px">&nbsp;&nbsp;（公園の催し）</span>
            </div>
            <div class="text-7 roboto-bold-candlelight-48px"><span class="roboto-bold-candlelight-48px">📜</span></div>
            </div>
          </a> 
        </div>
        <div class="addtion">
         <h1 class="addtion2">公園の追加だよ！</h1>
          <form action="/add" method="POST" enctype="multipart/form-data">
           <p class="ee3">公園の名前</p>
           <input type="text" name = "name">
           <p class="ee33">公園の住所</p>
           <input type="text" name = "address">
           <p class="eee3">画像追加</p>
           <input type="file" name="image">
           <p class="aa2">特徴をコメントしてね！</p>
           <input type="text" name="comment" >
           <p class="sd2">該当するものをチェックしてね </p>
              <label><input type="checkbox" name="parking" >駐車場が広い</label>
              <label><input type="checkbox" name="toilet" >多目的トイレがある</label>
              <label><input type="checkbox" name="playset" >遊具が多い</label>
              <label><input type="checkbox" name="convenience" >近くにコンビニがある</label>
              <label><input type="checkbox" name="history" >歴史がある</label>
              <label><input type="checkbox" name="vending">自動販売機がある</label>
              <label><input type="checkbox" name="plaza" >大きい広場がある</label>
              <label><input type="checkbox" name="water" >水場がある</label>
              <label><input type="checkbox" name="hot_spring">近くに温泉がある<label>
              <label><input type="checkbox" name="traffic">交通アクセスが良い </label>
          
            <p class="srf">追加・取り消しボタンだよ！</p>
           <input type="submit" value="追加＋" name="save" >
           <input type="reset" value="取り消しする-">
         </form>
         <a class="twitter-timeline" href="https://twitter.com/TOMAMONofficial?ref_src=twsrc%5Etfw">Tweets by TOMAMONofficial</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
         <p class="copyright">Copyright &copy; WakuWakuParkQuest all rights reserved.</p>
        </div>
      </div>
    </div>
   

  </body>

  
 
</html>