<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <title>つかれたのぉぉ</title>
</head>
<header>
    <h5 class="subtitle">八代ワンストップ<span style="color:#ff0000">公園</span>
        サービス</h5>
    <h1 class="title">ワクワク パーク クエスト :交差した刀:</h1>
        <a href="#" class="btn btn--yellow btn--cubic">最初に戻る</a>
     </header>
 <body>

 </body>
</html>