
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <p>八代市ワンストップ公園サービス</p>
    <title>ワクワクパーククエスト</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <!-- ヘッダー開始 -->
      　　　<header>
        <div class="header-inner">
            <h1 class="header-logo"> 
            <img class="header-logoImg" src="assets/img/header-logo.png"> 
                <span class="header-logoTtl">ワクワクパーククエスト⚔</span>
        </h1>
        </div>
    </header>
      <a href="index.html"><img src="images/header-01-1.jpg" width="1280" height="720" alt="HS cafe"></a>
      <ul id="nav">
        <li><a href="index">冒険の書（公園のトリセツ）</a></li>
        <li><a href="open-close">ステージを調べる（公園条件検索）</a></li>
        <li><a href="menu">クエストボード（公園の催し）</a></li>
        
      </ul>
      <!-- ヘッダー終了 -->
      <!-- メイン開始 -->
      
      <!-- メイン終了 -->
      <!-- フッター開始 -->
      <div id="footer">
        <small>&copy;Copyright HS cafe. All rights reserved.</small>
      </div>
      <!-- フッター終了 -->
    </div>
  </body>
</html>