<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/kensaku.css">
</head>
<header>
  <h5 class="subtitle">八代ワンストップ<span style="color:#ff0000">公園</span>
      サービス</h5>
  <h1 class="title">ワクワク パーク クエスト 　⚔</h1>
      <a href="/" class="btn btn--yellow btn--cubic">最初に戻る</a>
</header>
<body>
    <img src="./img/ステージ検索タイトル画像.jpg" alt="" width="100%" height="100%">
 
    
    <ul class="original_checkbox">
        <b><span style="color:#ff0000">特徴検索</span></b>
      <li>
        <input type="checkbox" name="feature" id="original_feature1" value="1"><label for="original_feature1">駐車場が広い</label>
      </li>
      <li>
        <input type="checkbox" name="feature" id="original_feature2" value="2"><label for="original_feature2">多目的トイレがある</label>
      </li>
      <li>
        <input type="checkbox" name="feature" id="original_feature3" value="3"><label for="original_feature3">遊具が多い</label>
      </li>
      <li>
        <input type="checkbox" name="feature" id="original_feature4" value="4"><label for="original_feature4">近くにコンビニがある</label>
      </li>
      <li>
        <input type="checkbox" name="feature" id="original_feature5" value="5"><label for="original_feature5">歴史がある</label>
      </li>
      <li>
        <input type="checkbox" name="feature" id="original_feature6" value="6"><label for="original_feature6">自動販売機がある</label>
      </li>
      <li>
        <input type="checkbox" name="feature" id="original_feature7" value="7"><label for="original_feature7">大きい広場がある</label>
      </li>
      <li>
        <input type="checkbox" name="feature" id="original_feature8" value="8"><label for="original_feature8">水場がある</label>
      </li>
      <li>
        <input type="checkbox" name="feature" id="original_feature9" value="9"><label for="original_feature9">近くに温泉がある</label>
      </li>
      <li>
        <input type="checkbox" name="feature" id="original_feature10" value="10"><label for="original_feature10">交通アクセスが多い</label>
      </li>
      <button onclick="getValue()">公園をけんさく！</button>
    </ul>   
   

</body>

<footer>
    <p class="copyright">Copyright &copy; WakuWakuParkQuest all rights reserved.</p>
</footer>

</html>