
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1152, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" href="../static/css/quest.css">
    
  </head>
  <body style="margin: 0">

    <header>
      <h5 class="subtitle">八代ワンストップ<span style="color:#ff0000">公園</span>
          サービス</h5>

      <h1 class="title">ワクワク パーク クエスト ⚔</h1>

          <a href="/" class="btn btn--yellow btn--cubic">最初に戻る</a>
    </header>

    <img src="../static/img/クエストボード タイトル画像 (1).jpg" alt="" width="100%" height="100%">

    <input type="hidden" id="anPageName" name="page" value="quest" />
    <div class="container-center-horizontal">
      <div class="quest screen">
        <div class="overlap-group6">
          
          <div class="rectangle-39"></div>
        </div>
        <div class="overlap-group4">
          <img class="unsplash" src="img/unsplash-p9gkfbaxmtu-4@2x.png" />
          <div class="text-52 roboto-bold-irish-coffee-24px">
            <span class="roboto-bold-irish-coffee-24px"
              >2021.12.5 <br />ガメサン公園にて<br />フォト教室開催<br /><br />講師：〇〇〇〇</span
            >
          </div>
        </div>
        <div class="overlap-group">
          <img class="unsplash" src="img/unsplash-ogqwlzwrsai-1@2x.png" />
          <div class="text-53 roboto-bold-irish-coffee-24px">
            <span class="roboto-bold-irish-coffee-24px"
              >2021.12.12<br />エコエイト横公園にて<br />サッカー教室開催<br /><br />講師：〇〇〇〇</span
            >
          </div>
        </div>
        <div class="overlap-group">
          <img class="unsplash" src="img/unsplash-rx8gbeg2wm0-1@2x.png" />
          <div class="text-54 roboto-bold-irish-coffee-24px">
            <span class="roboto-bold-irish-coffee-24px"
              >2021.12.20<br />日奈久公園にて<br />朝ヨガ開催<br /><br />講師：〇〇〇〇</span
            >
          </div>
        </div>
        <div class="overlap-group1">
          <img class="unsplash" src="img/unsplash--kr8xpyusi8-1@2x.png" />
          <div class="text-55 roboto-bold-irish-coffee-24px">
            <span class="roboto-bold-irish-coffee-24px"
              >2021.12.27<br />ジンシャー公園にて<br />マルシェ開催<br /><br />開催団体：〇〇〇〇</span
            >
          </div>
        </div>
        <footer>
          <p class="toukou"><a href="https://docs.google.com/forms/d/1bWCAZiVzPZ-JgY0iovD1DaoHF_6N0Ezf5pGJRVIdK1w/edit" target="_blank"><img src="../static/img/Color Summer Show Ticket.jpg" alt="" width="" height="" class="image2"></a></p>
        </footer>
        
    
      </div>
    </div>
    

  </body>
</html>
