<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <img src="../static/img/冒険の書タイトル画像.jpg" alt="" width="100%" height="100%">


    <p class="item">公園内では安全で快適な環境が保たれるよう、次のような行為は、
        原則として禁止しているところが多いです。
    </p>
    
    <ol class="demo1">
        <li>公園内の施設を損傷し、又は汚損すること。</li>
        <li>木竹を伐採し、又は植物を採取すること。</li>
        <li>生き物を捕獲すること。</li>
        <li>土石の採取その他土地の形状を変更すること。</li>
        <li>はり紙、はり札その他の広告物を表示すること。</li>
        <li>キャンプをすること。</li>
        <li>焚き火、花火をすること。</li>
        <li>発電器、カラオケを利用すること。</li>
    </ol>

    <p class="item">ペットを連れて公園で過ごされる方へ
        ペットを持ち込む場合は次のことを守りましょう。
    </p>

    <ol class="demo2">
        <li>ペットは常時リードで繋ぐこと。</li>
        <li>コテージ、ビジターセンター、バーベキュー棟には連れ込まないこと。</li>
        <li>糞尿の後始末は必ず行うこと。</li>
        <li>他の利用者に迷惑がかかるような行動は絶対にしないこと。</li>
    </ol>

    <p class="item">ゴミの処理について
        公園内にはに基本的にゴミ箱はありません。ゴミは必ず持ち帰ること。
    </p>

</body>
<footer>
    <p class="copyright">Copyright &copy; WakuWakuParkQuest all rights reserved.</p>
</footer>
</html>