/* screen - quest */

body {
    background-color: #c2b0b0;
    font-size: 30px;
    text-align: center;
  }

.quest {
    align-items: center;
    background-color: var(--heath);
    display: flex;
    flex-direction: column;
    height: 1770px;
    overflow: hidden;
    width: 1152px;
  }
  .quest .overlap-group6 {
    height: 79px;
    position: relative;
    width: 1152px;
  }
  .quest .component-1 {
    align-items: flex-end;
    background-color: var(--irish-coffee);
    display: flex;
    height: 79px;
    left: 0;
    min-width: 1152px;
    padding: 14px 26px;
    position: absolute;
    top: 0;
  }
  .quest .overlap-group-1 {
    height: 48px;
    position: relative;
    width: 922px;
  }
  .quest .text-50 {
    left: 281px;
    letter-spacing: 0;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 0;
    width: 641px;
  }
  .quest .text-51 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 27px;
  }
  .quest .rectangle-39 {
    background-color: var(--mist-gray);
    height: 50px;
    left: 948px;
    position: absolute;
    top: 14px;
    width: 188px;
  }
  .quest .text-61 {
    left: 956px;
    letter-spacing: 0;
    position: absolute;
    top: 18px;
  }
  .quest .overlap-group4 {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 198px;
    margin-left: 22.0px;
    margin-top: 73px;
    min-width: 722px;
    padding: 28px 30px;
  }
  .quest .unsplash {
    height: 130px;
    width: 234px;
  }
  .quest .text-52 {
    align-self: flex-end;
    letter-spacing: 0;
    margin-left: 44px;
    min-height: 140px;
    min-width: 192px;
  }
  .quest .overlap-group {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 198px;
    margin-left: 22.0px;
    margin-top: 54px;
    min-width: 722px;
    padding: 28px 30px;
  }
  .quest .text-53 {
    align-self: flex-end;
    letter-spacing: 0;
    margin-left: 44px;
    min-height: 140px;
    min-width: 240px;
  }
  .quest .text-54 {
    align-self: flex-end;
    letter-spacing: 0;
    margin-left: 44px;
    min-height: 140px;
    min-width: 168px;
  }
  .quest .overlap-group1 {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 198px;
    margin-left: 22.0px;
    margin-top: 54px;
    min-width: 722px;
    padding: 24px 30px;
  }
  .quest .text-55 {
    align-self: flex-end;
    letter-spacing: 0;
    margin-left: 44px;
    min-height: 140px;
    min-width: 216px;
  }
  .quest .overlap-group2 {
    align-items: flex-end;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    min-height: 643px;
    padding: 8px 204px;
    width: 1152px;
  }
  .quest .overlap-group7 {
    align-items: flex-start;
    background-image: url(../img/rectangle-20-2@2x.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    min-height: 454px;
    padding: 30px 13px;
    width: 722px;
  }
  .quest .text-58 {
    color: var(--red);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    letter-spacing: 0;
    min-height: 41px;
    text-shadow: 0px 4px 4px #00000040;
    width: 692px;
  }
  .quest .flex-row {
    align-items: flex-start;
    display: flex;
    height: 318px;
    margin-top: 32px;
    min-width: 688px;
  }
  .quest .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    min-height: 228px;
    width: 91px;
  }
  .quest .text-56 {
    letter-spacing: 0;
    min-height: 21px;
    width: 91px;
  }
  .quest .text-57 {
    letter-spacing: 0;
    margin-top: 48px;
    min-height: 21px;
    width: 55px;
  }
  .quest .text-59 {
    letter-spacing: 0;
    margin-top: 48px;
    min-height: 21px;
    width: 37px;
  }
  .quest .text-60 {
    letter-spacing: 0;
    margin-top: 49px;
    min-height: 20px;
    width: 55px;
  }
  .quest .flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    min-height: 318px;
    width: 565px;
  }
  .quest .rectangle-21 {
    background-color: var(--romance);
    height: 51px;
    width: 565px;
  }
  .quest .rectangle-22 {
    background-color: var(--romance);
    height: 52px;
    margin-top: 22px;
    width: 565px;
  }
  .quest .rectangle-23 {
    background-color: var(--romance);
    height: 52px;
    margin-top: 21px;
    width: 565px;
  }
  .quest .rectangle-24 {
    background-color: var(--romance);
    height: 96px;
    margin-top: 24px;
    width: 565px;
  }
  .quest .x1122-1-2-1 {
    height: 145px;
    margin-top: 15px;
    object-fit: cover;
    width: 316px;
  }

  header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #553b28;
    align-items: center;
  }
   
  .title {
    margin-left: auto;
    color: gold;
  }
   
  .menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 0 0 0 auto;
  }
  
  .subtitle{
    color: rgb(157, 157, 161);
  }
  
  a.btn--yellow {
    color: #000;
    background-color: slategray;
    border-bottom: 5px solid slategray;
    margin: 0 0 0 auto;
  }
  
  a.btn--yellow:hover {
    margin-top: 3px;
    color: #000;
    background: slategray;
    border-bottom: 2px solid slategray;
    margin: 0 0 0 auto;
  }

img.image2{
  width: 60%;
  height: 30%;
  padding-left: 300px;
}